Centralizador.Models/Web References/CrSeed/CrSeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://DefaultNamespace" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="getSeedResponse">
    <wsdl:part name="getSeedReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStateResponse">
    <wsdl:part name="getStateReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVersionPatchResponse">
    <wsdl:part name="getVersionPatchReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVersionPatchRequest" />
  <wsdl:message name="getVersionMenorResponse">
    <wsdl:part name="getVersionMenorReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVersionMenorRequest" />
  <wsdl:message name="getVersionMayorResponse">
    <wsdl:part name="getVersionMayorReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getStateRequest" />
  <wsdl:message name="getVersionMayorRequest" />
  <wsdl:message name="getSeedRequest" />
  <wsdl:portType name="CrSeed">
    <wsdl:operation name="getVersionMayor">
      <wsdl:input name="getVersionMayorRequest" message="impl:getVersionMayorRequest" />
      <wsdl:output name="getVersionMayorResponse" message="impl:getVersionMayorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVersionMenor">
      <wsdl:input name="getVersionMenorRequest" message="impl:getVersionMenorRequest" />
      <wsdl:output name="getVersionMenorResponse" message="impl:getVersionMenorResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVersionPatch">
      <wsdl:input name="getVersionPatchRequest" message="impl:getVersionPatchRequest" />
      <wsdl:output name="getVersionPatchResponse" message="impl:getVersionPatchResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSeed">
      <wsdl:input name="getSeedRequest" message="impl:getSeedRequest" />
      <wsdl:output name="getSeedResponse" message="impl:getSeedResponse" />
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdl:input name="getStateRequest" message="impl:getStateRequest" />
      <wsdl:output name="getStateResponse" message="impl:getStateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CrSeedSoapBinding" type="impl:CrSeed">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getVersionMayor">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getVersionMayorRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getVersionMayorResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionMenor">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getVersionMenorRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getVersionMenorResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionPatch">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getVersionPatchRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getVersionPatchResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSeed">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSeedRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getSeedResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getStateRequest">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getStateResponse">
        <wsdlsoap:body use="encoded" namespace="http://DefaultNamespace" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrSeedService">
    <wsdl:port name="CrSeed" binding="impl:CrSeedSoapBinding">
      <wsdlsoap:address location="https://palena.sii.cl/DTEWS/CrSeed.jws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>